.choose {
  padding: 69px 0 73px;
  background-color: #f0f0f1;

  &__container {
    @include flex(flex-start, center, row, nowrap);
  }

  &__form-select {
    font-family: TTRounds;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #28283d;
  }

  &__text {
    font-family: "TTRounds";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #28283d;
  }

  &__button {
    position: relative;
    background-color: #42a5f5;
    @include flex(center, center, row, nowrap);
    margin: 0;
    height: 50px;
    width: 50px;
    border: none;
    padding: 0;
    margin-right: 20px;
  }
}

.choose__form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 13px;
  border-radius: 2px;
  margin-right: 4rem;
  padding-left: 2.3rem;
  padding-right: 4rem;
}

input.choose__text {
  padding-left: 24px;
}

input[type="email"]::placeholder {
  color: #c6c8d1;
}

.icon-check {
  font-size: 16px;
  color: #ffffff;
}
