.finance {
  @include backgr(url(../img/gradient2.jpg));
  @extend %backgr;
  padding-top: 89px;
  padding-bottom: 90px;

  &__title {
    font-family: "TTRounds";
    font-size: 32px;
    font-weight: normal;
    line-height: 0.8;
    color: #ffffff;

    &-container {
      height: 95px;
      @include flex(space-between, flex-start, row, wrap);
      margin-bottom: 30px;
    }
  }

  &__button {
    margin: 0;
    height: 50px;
    border: none;
    background-color: #ffffff;
    @include flex(space-between, center, row, nowrap);
    padding: 0 23px 0 25px;
    box-shadow: 0px 4px 28px 7px rgba(3, 3, 3, 0.25);
    width: 25.6% !important;

    &-text {
      font-family: "TTRounds";
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.24px;
      color: #00a6ed;
    }
  }

  &__social {
    &-container {
      margin-left: 100px;
      @include flex(flex-start, center, row, nowrap);
    }

    &-text {
      font-family: "TTRounds";
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 0.24px;
      color: #ffffff;
      padding-right: 25px;
    }

    &-button {
      position: relative;
      @include flex(center, center, row, nowrap);
      margin: 0;
      height: 50px;
      width: 50px;
      border: none;
      background-color: #ffffff;
      padding: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      margin-right: 20px;
    }
  }
}

.icon-credit-card {
  font-size: 20px;
  color: #00a6ed;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
  @include flex(center, center, row, nowrap);
  font-size: 20px;
  color: #00a6ed;
}
